

html  {
    font-size: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;


  }
  body, html {
    height: 100%
  }
  body {
    background-color: $black;
  }
  
  h1, h3 {
    text-align: center;
  }

  h2 {
    font-family: 'Syne', sans-serif;
    color: $white;
    margin-bottom: 4px;
  }
  
  h3{
    font-weight: 500;
    color: $white;
  }
  h6{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: $white;
    font-size: 14px;
  }
  h1{
    font-weight: 500;
    font-family: 'Playfair Display', serif;
    color: $white;
    font-size: 60px;
    margin: 8px;
    
  }

  h4 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: $white;
   
}

  h5 {
    text-align: center;
    font-family: 'Syne', sans-serif;
    font-size: 40px;
    color: $white;
    margin-top: 2px;
    margin-bottom: 40px;
  }


 .cta {
  font-family: 'Roboto', sans-serif;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: $pink;
  border: $white 1px solid;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.contactlink {
  font-family: 'Roboto', sans-serif;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 17px;
  background-color: $pink;
  border: $pink 1px solid;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

  


  p {
  font-family: 'Roboto', sans-serif;
  color: $white;
  }

  .maintext{
  margin-bottom: 50px;
  margin-top: 200px;
  
  }
  .name {
    font-family: 'Syne', sans-serif;
    color: $white;
  
  }

.divespaciado{

height: 20vh;
}
  .div1, .div3 {
  margin-left: 6%;
  
  }

  

  .div2, .div4 {
  margin-right: 6%;

  }


  @media all and(max-width:600px){
    .div1, .div3 {
      margin-right: 1%;
      margin-left: 0%;
      
      }
      .div2, .div4 {
margin-right: 1%;        
        }
  
  }



  //.picturetext { position: relative; top: -5vh; } 

  .righttext{
  text-align: end;
  }

  .leftpar {
    max-width: 30%;

  }

  .rightpar{
    max-width: 30%;
    margin: 1% 0em auto auto;
    text-align: right;
  
    }


  @media all and(max-width:600px){
    .leftpar {
      max-width: 90%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
    .righttext {
      text-align: center;
    }

    .rightpar {
      max-width: 90%;
      margin: 0%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }

    p.rightpar {
      margin-top: 2vh;
    }
  }

 

  .butt {
  border: 1px outset $white;
  background-color: $pink;
  color: $white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  padding-left: 16px;
  padding-right: 16px;
  cursor:pointer;
  }






