.bottompage{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 10px;
    margin-right: 10px;
    //position: fixed;//

}

.watermark{
    margin: 10px;
    margin-bottom: 20px ;
}

.icon {
    margin-bottom: 20px;
}