.bottompage{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 10px;
    margin-right: 10px;
    position: fixed;
    width: 97vw;
    bottom: 0px;

}

.watermark{
    margin: 2px;
    margin-bottom: 20px ;
}

.icon {
    margin-bottom: 20px;
    margin-right: 1vw;
}