
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 97vw;
    background-color: rgba($color: $black, $alpha: .95);
    padding-top: 3vh;
    
     
}

