
a:link {
 font-weight: 400;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: $white;
  background-color: transparent;
  text-decoration: none;
}

a.rrss:hover {
  color: $pink;
  background-color: transparent;
}

